body{
    padding-left: 20px;
    padding-right:20px;
    background: black;
}
h1{
    color: white;
    text-align: center;
}
h4,#a1{
    line-height:1.2px;
}
#h1{
    text-align: right;
    background: #ff8c00;
    
 }
 #a1 {
    text-decoration: none;
    color: white;
   
}
#a1:hover{
    color:black;
    background-color:red; 
    border-radius:10px;
}
#a1:active{
    color:black;
    background-color:#ff8c00; 
}
#h2{
    background:#ff8c00;
}
img{
    border-radius: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
a:hover{
        color:white;
        background-color:black; 
    }
a:active{
        color:black;
        background-color:#ff8c00; 
    }
    table,td{
        border:3px solid white;
        border-collapse: collapse;
        border-style: dotted;
        padding: 5px;
        
    }
    ul {
        list-style-type: none;
        overflow: hidden;
    }
    li {
        float: left;
      }
    li a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
      }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 10px;
        min-width: 130px;
      }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
      }
    .dropdown-content a:active{
          background-color:#ff8c00 
      }
    .dropdown-content a:hover {
          background-color:red;
    }
    .dropdown:hover .dropdown-content {
        display: block; 
    }   
    iframe{
          border:0;
      }
     
    
    
    